<section class="orders-show">
  <header class="page-header">
    <h1>Order Number: <%= @order.id %></h1>
  </header>

  <% @line_items_product.each do |item| %>
    <%= image_tag item[:product].image.tiny, class: 'main-img' %>
     <label><%= item[:product].name %></label>
     <p><%= item[:product].description %></p>
    <h4>Quantity: <%= item[:quantity] %></h4>

    <h4>Line Price:  <%= humanized_money_with_symbol item[:line_price] / 100.0 %></h4>
     <hr/>
  <% end %>
 
  <div class="order-summary jumbotron">
    <h4>Total Price: <%= humanized_money_with_symbol @order.total_cents / 100.0 %></h4>
  </div>
   <div class="order-summary jumbotron">
    <h4>Email Address: <%= @order.email %></h4>
  </div>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
